/* Start Nav */
body{
    font-family: "Poppins", sans-serif;;
}
.navbar{
    margin-left: 45px;
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.navbar-nav{
    margin: auto;
    text-align: center;    
}
#navbarText a:hover{color: #325297;}
#navbarText a:active{color: red;}

.navbar-nav .nav-item{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding-right: 25px;
}
/* End Nav */

/* Start Slider */
/* Slider Icon*/
#col_icon{
    margin: auto;
    max-width: 45px;
}
#col_icon ul li a {
    color: #999999;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}
/* Slider Img */
#col_Slider .carousel{
    background-color: #3B4A6B;
    border-bottom-left-radius: 250px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.carousel-item .row{
    padding-top: 150px;
    padding-bottom: 150px;
}
#col_item1{
    margin: auto;
    padding: 50px;
    color: white;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}
#col_item1 h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
}

#col_item1 a{
    text-decoration: none;
    color: white;
    padding: 12px 35px 12px 35px;
    background-color: #e6c511;
    border: 1px solid #e6c511;
    line-height: 24px;
}

#col_slider{
    display: flex;
    justify-content: center;
}
#row_slider img{
    min-width: 500px;
    max-height: auto;
}
/* End Slider */

/* StartProduct */
#con_Pro h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 100px 0 40px 0;
    line-height: 38.4px;
}
#con_Pro .card{
    border: 1px none #FAF9FA;
    background-color: #FAF9FA;
    border-radius: 15px;
    margin-bottom: 25px;
}
#card_new {
    text-decoration: none;
    color: white;
    max-width: fit-content ;
    padding: 5px 15px 5px 15px;
    background-color: #F0D43A;
    border-top-left-radius: 15px;
}
.card-img{
    height: 245px;
    display: flex;
    justify-content: center;
}
.card-img img{
    max-width: 97px;
    max-height: 175px;
    margin-top: 20px;
}
#card_name{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}
#con_Pro_a{
    display: flex;
    justify-content: center;
}
#con_Pro_a a{
    text-decoration: none;
    background-color: #F0D43A;
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: 1px solid #F0D43A;
    margin-bottom: 100px;
}

/* End Product */

/* Start About Us */
#con_about{
    background-color: #3B4A6B;
    padding: 90px 0 90px 0;
    margin-bottom: 100px;
}
#row_about{
   margin: auto;
}
#col_about_img{
    margin: auto;
    display: flex;
    justify-content: center;
}
#con_about img{
    max-width: 375px;
}
#col_about_card{
    color: white;
    margin: auto;
    font-size: 17px;
    line-height: 24px;
    text-align: justify;
}
#col_about_card h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    margin-bottom: 15px;
}
#col_about_card a{
    padding: 10px 45px 10px 45px;
    background-color: #F0D43A;
    border: 1px solid #F0D43A;
    margin-top: 15px;
}
/* End About */

/* Start Footer */
#con_footer_3{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #3B4A6B;
}
#con_footer_3 .row{
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    font-weight: 500;
}
#con_footer_3 .row h4{
    font-size: 24px;
    font-weight: 600;
}
.footer_icon{
    display: flex;
}
.footer_icon_1{
    margin-right: 10px;
    color: #3B4A6B;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.footer_icon_1 a{
    margin: auto;
    color: #3B4A6B;
}
.footer_icon a:hover{
    color: yellow;
}
.location_1{
    margin-top: 20px;
}
.footer_contact a{
    color: white;
    text-decoration: none;
}
.footer_contact a:hover{color: yellow;}
/*  */
.form_mail{
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
    width: 60%;
}
#mail_1{
    width: 100%;
    padding: 10px;
    background-color: #4D618C;
    color: white;
}
.form_sub{
    width: 60%;

}
#btn_1{
    width: 100%;
    padding: 10px;
    background-color: #F0D43A;
    border: 1px solid #F0D43A;
    color: white;
    border-radius: 10px;
}
/* End Footer */

