/* Start Nav */
body{
    font-family: "Poppins", sans-serif;
    background-color: white;
    overflow-x: hidden;
}
.navbar{
    background-color: #4CAF50;
}
.navbar .navbar-brand{
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    color: white;
}
.navbar-nav{
    margin: auto;
    text-align: center;    
}
#navbarText a:hover{color: #325297;}
#navbarText a:active{color: red;}

.navbar-nav .nav-item{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    padding-right: 25px;
}
.navbar-nav .nav-item .nav-link{
    color: white;
    font-weight: bold;
}
.navbar-text{
    font-size: 25px;
    font-weight: bold;
}
.navbar-text .nav-item .nav-link{
    color: white;
}
/* End Nav */

/* Start Dashboard */
#con_Dash h1{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
.order{
    display: flex;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    width: 400px;
    margin-top: 20px;
}
.order .ord_icon_1{
    padding: 15px;
    font-size: 35px;
    color: #3C91E6;
    background-color: #CFE8FF;
    border-radius: 10px;
    margin-right: 25px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.order .ord_icon_1 i{
    margin: auto;
}
.order .ord_text{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    width: 50%;
}
.order .ord_text .numbertxt{
    font-size: 24px;
    font-weight: bold;
}

.order .ord_icon_3{
    padding: 15px;
    font-size: 35px;
    color: #FD7238;
    background-color: #FFE0D3;
    border-radius: 10px;
    margin-right: 25px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.order .ord_icon_3 i{
    margin: auto;
}

.order .ord_icon_2{
    padding: 15px;
    font-size: 35px;
    color: #FFCE26;
    background-color: #FFF2C6;
    border-radius: 10px;
    margin-right: 25px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
}
.order .ord_icon_2 i{
    margin: auto;
}
/* End Dashboard */

/* Start Recent Orders */
#con_Rec{
    margin-top: 50px;
}
.recent{
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}
.recent .row {
    padding: 10px;
}
.row h3{
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 30px;
}
th {
    border-bottom: 1px solid black;
    height: 40px;
}
td {
    height: 40px;
}
.status_com{
    border-radius: 20px;
    background-color: #3C9E16;
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    width: 60%;
}
.status_pend{
    border-radius: 20px;
    background-color: #FD7238;
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    width: 60%;
}

.todo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}
.todo .todo-list {
	width: 90%;
}
.todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: rgb(245, 245, 245);
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}
.todo .todo-list li p{
    margin: auto;
    padding: 10px;
    margin-left: 0px;
}
.todo .todo-list li .fa {
	cursor: pointer;
}
.todo .todo-list li.completed {
	border-left: 10px solid blue;
}
.todo .todo-list li.not-completed {
	border-left: 10px solid orange;
}
.todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* End Recent Orders */